/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
    font-weight: bold;
}

/* Logo Styles */
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    max-height: 260px;
    max-width: 266px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    li {
        padding: 10px;
    }
}
